<form [formGroup]="postData" (ngSubmit)="postFun()">
    <div class="form-group mb-2">
        <label for="title">Title</label>
        <input type="text" name="" id="title" class="form-control" formControlName="title">
    </div>
    <div class="form-group mb-2">
        <label for="dis">dis</label>
        <input type="text" name="" id="dis" class="form-control" formControlName='dis'>
    </div>
    <div class="form-group">
        <button class="btn btn-sm btn-success">submit</button>
    </div>
</form>